@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

nav {
    position: relative;
    background-color: #333;
    padding: 10px;
  }
  
  #nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  #nav-links li {
    margin-right: 20px;
  }
  
  #nav-links a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  }

  #nav-links a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    #nav-links {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      background-color: #333;
      padding: 100%;
      flex-direction: column;
    }
    #nav-links.active {
      display: block;
    }
    #nav-links li {
      margin-bottom: 10px;
    }
  }

/* Global styles */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80vw;
    height: auto;
}

 my-image{
    position: relative;
    width: 80%;
    height: auto;
    margin:20px auto;
}
  
  /* Media query for small screens (phones) */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    logo{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80vw;
        height: 100px;
    }
    
    my-image{
        position: relative;
        width: 80%;
        height: auto;
        margin:2rem;
    }
  }
  
  /* Media query for medium screens (tablets) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
    logo{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80vw;
        height: 100px;
    }
    
    my-image{
        position: relative;
        width: 80%;
        height: auto;
        margin:2rem;
    }
  }
  
  /* Media query for large screens (desktops) */
  @media only screen and (min-width: 1025px) {
    body {
      font-size: 20px;
    }
    logo{
        position: absolute;
        top: 10rem;
        left: 10rem;
        width: 10rem;
        height: auto;
    }
    
    my-image{
        position: relative;
        width:80%;
        height: auto;
        margin:2em;
    }
  }

/*Background colors*/

  body {
    background-color: #756e6e; 
    margin: 0;
    font-family: Arial, sans-serif;
    }

    header {
        background-color: #333;
        color: rgb(115, 109, 109);
        padding: 20px;
    }

    footer {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    main {
        background-color: #756e6e;
        padding: 40px;
    }


    .socials a:hover .fa-facebook-f {
        color: #1877f2;
        text-shadow: 0 0 10px #1877f2;
    }
    
    .socials a:hover .fa-instagram {
        color: #e4405f;
        text-shadow: 0 0 10px #e4405f;
    }
    
    .socials a:hover .fa-tiktok {
        color: #69c9d0;
        text-shadow: 0 0 10px #69c9d0;
    }
    
    .socials a:hover .fa-twitter {
        color: #1da1f2;
        text-shadow: 0 0 10px #1da1f2;
    }
    
    /* Hamburger menu styles */


    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Hamburger Icon */
.hamburger-menu {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 21px;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
}

.nav-links a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links ul {
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .hamburger {
    display:contents;
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: #292626;
    border:#292626;
    padding: 10px;
    cursor:context-menu;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
